
.root {
	-background-color: ANTIQUEWHITE;
	-fx-background-color: -background-color;
}

.label1 {
	-fx-background-color: red;
	-fx-font-size: 26.0;
}

.root .order-pane {
	-fx-background-color: -background-color;
}

.root .product-pane {
	-fx-background-color: -background-color;
}

.root .tasks-today-pane {
	-fx-background-color: -background-color;
}

.root .dishes-view-pane, .root .dish-view-pane {
	-fx-background-color: -background-color;
}
.root .product-analysis-pane, .root .dish-view-pane {
	-fx-background-color: -background-color;
}

.root .give-out-pane, .root .dish-view-pane {
	-fx-background-color: -background-color;
}

.root .delivery-schedule-pane {
	-fx-background-color: -background-color;
}

.grid-pane1 {
	-fx-background-color: white;
}

.order-view-pane
{
	-fx-padding: 10.0;
    -fx-spacing: 50.0;
}

.header-pane {
    -fx-padding: 20.0;
    -fx-spacing: 50.0;
    -fx-pref-height: 90.0;
}

.filter-order-pane {
	-fx-padding: 10.0;
	-fx-spacing: 50.0;
	-fx-align: center;
}

.filter-order-pane .label {
	-fx-font-weight: bold;
    -fx-font-size: 14.0;
}

.filter-order-pane .text-field {
    -fx-padding: 5.0, 5.0, 5.0, 5.0;
    -fx-border-color: grey;
    -fx-border-width: 2.0;
    -fx-min-height: 25.0;
    -fx-min-width: 150.0;
    -fx-max-height: 30.0;
    -fx-max-width: 1000.0; 
}

filter-order-pane > .combo-box > .arrow-button {
     -fx-background-color: #A5A5A5;
}
filter-order-pane > .choice-box > .arrow-button {
     -fx-background-color: #A5A5A5;
}
filter-order-pane > .date-picker:editable > .arrow-button {
     -fx-background-color: #A5A5A5;
}
.order-view-pane > .combo-box > .arrow-button {
     -fx-background-color: #A5A5A5;
}
.order-view-pane > .choice-box > .arrow-button {
     -fx-background-color: #A5A5A5;
}
.order-view-pane > .date-picker:editable > .arrow-button {
     -fx-background-color: #A5A5A5;
}
.button1 {
    -fx-background-color: #A5A5A5;
    -fx-background-radius: 30.0;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 1.0px;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-font-weight: bold;
    -fx-font-size: 20.0;
    -fx-max-width: 1000.0;
    -fx-padding: 7.0;
    
}

.button1 .check-box {
	-fx-padding: 10.0;
}

.toggle-button {
	-fx-background-color: #A5A5A5;
    -fx-background-radius: 30.0;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 1.0px;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-font-weight: bold;
    -fx-font-size: 20.0;
    -fx-max-width: 1000.0;
    -fx-padding: 7.0;
}


.toggle-button:hover {
    -fx-background-color:grey;
}


.toggle-button:selected{
    -fx-background-color: #474A51;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
	-fx-border-color: black;
	-fx-border-width: 1.0px;
	-fx-border-radius: 30.0;
  
}

.button{
    -fx-background-color: #A5A5A5;
    -fx-background-radius: 30.0;
    -fx-text-fill: white;
    -icon-paint: white;
    -icon-size: 40.0;
    -fx-border-color: transparent;
    -fx-border-width: 1.0px;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-font-weight: bold;
    -fx-font-size: 20.0;
    
}

.button:pressed {
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
	-fx-border-color: black;
	-fx-border-width: 1.0px;
	-fx-border-radius: 30.0;
}

.button .back-button-icon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;
    -fx-shape: "M401.947,159.301c0-8.583-6.949-15.742-15.497-15.889l0,0H197.515c-7.021-1.589-12.309-7.886-12.309-15.369V78.976
				c0-8.675-5.397-11.163-11.993-5.535L4.948,190.735c-6.598,5.634-6.598,14.847,0,20.479l168.262,117.29
				c6.599,5.632,11.996,3.146,11.996-5.528v-49.067c0-8.673,7.097-15.771,15.771-15.771l185.201-0.276
				c8.676-0.004,15.771-7.101,15.771-15.771L401.947,159.301z";
}



.header-pane .label {
    -fx-font-weight: bold;
    -fx-font-size: 30.0;
}



.form-hbox {
	-fx-alignment: center-left;
	-fx-spacing: 10.0;
        -fx-padding: 20.0;
         
}
.form-hbox .label {
    -fx-alignment: center-left;

}
.form-hbox .text-field {
    -fx-alignment: center;
    -fx-min-height: 30.0;
    -fx-min-width: 200.0;
    -fx-max-height: 30.0;
    -fx-max-width: 1100.0;
}



.order-view-pane
{
	-fx-padding: 10.0;
    -fx-spacing: 50.0;
        
}

/*.order-view-pane */.label {
      -fx-font-weight: bold;
      -fx-font-size: 18.0;
}



.filter-order-pane {
	-fx-padding: 10.0;
	-fx-spacing: 50.0;
}

.filter-order-pane .label {
	-fx-font-weight: bold;
    -fx-font-size: 14.0;
}

.button{
    -fx-background-color: #A5A5A5;
    -fx-background-radius: 30.0;
    -fx-text-fill: white;
    -icon-paint: white;
    -icon-size: 40.0;
    -fx-border-color: transparent;
    -fx-border-width: 1.0px;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-font-weight: bold;
    -fx-font-size: 20.0;
    
}

.button:pressed {
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
	-fx-border-color: black;
	-fx-border-width: 1.0px;
	-fx-border-radius: 30.0;
}

.button .back-button-icon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;
    -fx-shape: "M401.947,159.301c0-8.583-6.949-15.742-15.497-15.889l0,0H197.515c-7.021-1.589-12.309-7.886-12.309-15.369V78.976
				c0-8.675-5.397-11.163-11.993-5.535L4.948,190.735c-6.598,5.634-6.598,14.847,0,20.479l168.262,117.29
				c6.599,5.632,11.996,3.146,11.996-5.528v-49.067c0-8.673,7.097-15.771,15.771-15.771l185.201-0.276
				c8.676-0.004,15.771-7.101,15.771-15.771L401.947,159.301z";
}

.header-pane .label {
    -fx-font-weight: bold;
    -fx-font-size: 30.0;
}

.table-view {
	-fx-font-size: 18.0;
	-fx-text-fill: black;
}

.table-view .order-table-cell {
    -fx-background-color: #A5A5A5;
}

.table-view .order-table-cell1 {
    -fx-background-color: #FFF0F5;
}

.table-view .table-column {
	-fx-text-fill: black;
}

.table-row-cell:selected {
	-fx-font-weight: bold;
}

.table-view .corner {
    -fx-background-color: #A5A5A5;
}

.table-view .order-table-cell1:checked {
    
    
}
.table-view .order-table-cell1:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);
    -fx-text-fill: green;
}


.table-view .column-header {

    -fx-background-color: #A5A5A5;
    -fx-font-size: 18.0;

}

.table-view > .column-header-background {
	-fx-background-color: #A5A5A5;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view > .column-header-background > .show-hide-columns-button {
	-fx-background-color: #A5A5A5;
}

.table-view > .column-header-background > .nested-column-header > .order-table-cell > .label {
	-fx-font-size: 18.0;
}
.table-view > .column-header-background > .nested-column-header > .order-table-cell1 > .label {
	-fx-font-size: 18.0;
}

.table-view > .column-header > .filter {

    -fx-background-color: #A5A5A5;
    -fx-font-size: 18.0;
}
.table-view > .virtual-flow > .scroll-bar:vertical > .thumb {

    -fx-background-color: #A5A5A5;
}
.table-view > .virtual-flow > .scroll-bar:vertical > .increment-button {

    -fx-background-color: #A5A5A5;
}
.table-view > .virtual-flow > .scroll-bar:vertical > .decrement-button {

    -fx-background-color: #A5A5A5;
}

.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb {

    -fx-background-color: #A5A5A5;
}
.table-view > .virtual-flow > .scroll-bar:horizontal > .decrement-button {

    -fx-background-color: #A5A5A5;
}
.table-view > .virtual-flow > .scroll-bar:horizontal > .increment-button {

    -fx-background-color: #A5A5A5;
}
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused:filled:even > .order-table-cell1:filled:even {

    -fx-font-color: green;
}

.table-view > .virtual-flow > .clipped-container > .button {
    -fx-background-color: #A5A5A5;
    -fx-background-radius: 30.0;
    -fx-font-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 1.0px;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-font-weight: bold;
    -fx-font-size: 20.0;
}

.table-cell:editable {
    -fx-border-color: red;
}

.tree-view {
    -fx-font-size: 18.0;
	-fx-text-fill: black;

}

.tree-view .order-table-cell {

    -fx-background-color: #A5A5A5;
}

/*.tree-view */.order-table-cell2 {
	-fx-background-color: #FFF0F5;
}

.tree-view .column-header {
	-fx-background-color: #FFF0F5;
}
.tree-view:row-selection:constrained-resize:unconstrained-resize > .virtual-flow > .clipped-container >.sheet > .tree-table-row-cell:focused:expanded:filled:even {
	-fx-background-color: #A5A5A5;
}


.tree-view .column-header .filter {
	-fx-background-color: #FFF0F5;
}

.tree-view > .virtual-flow > .scroll-bar:vertical > .thumb {
        -fx-background-color: #A5A5A5;
}
.tree-view > .virtual-flow > .scroll-bar:horizontal > .thumb {
        -fx-background-color: #A5A5A5;
}
.tree-view > .virtual-flow > .scroll-bar:vertical > .increment-button {
        -fx-background-color: #A5A5A5;
}
.tree-view > .virtual-flow > .scroll-bar:vertical > .decrement-button {
        -fx-background-color: #A5A5A5;
}
.tree-view > .virtual-flow > .scroll-bar:horizontal > .increment-button {
        -fx-background-color: #A5A5A5;
}
.tree-view > .virtual-flow > .scroll-bar:horizontal > .decrement-button {
        -fx-background-color: #A5A5A5;
}

.tree-view .table-column {
	-fx-text-fill: black;
}

.tree-table-row-cell:selected {
	-fx-font-weight: bold;
}

.tree-view .corner {
    -fx-background-color: #A5A5A5;
}

.tree-view .order-table-cell1:checked {
    
    
}



.tree-view .column-header {

    -fx-background-color: #A5A5A5;
    -fx-font-size: 18.0;

}

.tree-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.tree-view > .column-header-background > .show-hide-columns-button {
	-fx-background-color: #A5A5A5;
}

.tree-view > .column-header-background > .nested-column-header > .order-table-cell > .label {
	-fx-font-size: 18.0;
}
/*.tree-view > .column-header-background > .nested-column-header > */.order-table-cell2 > .label {
	-fx-font-size: 18.0;
}


.form-vbox {
    -fx-alignment: center;
    -fx-spacing: 30.0;
    -fx-padding: 140.0
         
}
.grid-container {

    display: grid;
    grid-template-rows: 60.0px 1.0fr 60.0px;
    grid-template-columns: 20.0% 1.0fr 15.0%;
    -fx-padding: 10.0;
    -fx-spacing: 30.0;
    -fx-min-height: 100.0;
    -fx-min-width: 100.0;
    -fx-max-height: 1000.0;
    -fx-max-width: 1000.0;
    -fx-hgap: 30.0;
    -fx-vgap: 50.0;


}

.orders-detail-pane {
	-fx-fit-to-width: true;
}

.open-order-details-button {
	-fx-border-color: black;
	-fx-border-width: 1.0px;
	-fx-border-radius: 30.0;
}

.task-pane {

	/*-fx-pref-columns: 2.0;*/
	-fx-background-color: #FFF0F5;
	-fx-hgap: 30.0;
	-fx-vgap: 50.0;
	-fx-padding: 10.0;
	-fx-fit-to-width: true;
	-fx-fit-to-height: true;
}

.task-pane .viewport {

	-fx-background-color: #FFF0F5;

}

.task-button {
	-fx-background-color: GREY;
    -fx-background-radius: 30.0;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 1.0px;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-font-weight: bold;
    -fx-font-size: 20.0;
    -fx-max-width: 1000.0;
    -fx-pref-width: 600.0;
    -fx-pref-height: 50.0;
    -fx-padding: 7.0;
}



.grid-container .text-field {
    -fx-alignment: center;
    -fx-min-height: 30.0;
    -fx-min-width: 100.0;
    -fx-max-height: 30.0;
    -fx-max-width: 500.0;
}


.grid-container1 {

    
    -fx-padding: 10.0;
    -fx-spacing: 30.0;
    -fx-min-height: 100.0;
    -fx-min-width: 100.0;
    -fx-max-height: 1000.0;
    -fx-max-width: 1000.0;
    -fx-hgap: 20.0;
    -fx-vgap: 20.0;


}

.grid-container1 .text-field {
    -fx-alignment: center;
    -fx-min-height: 30.0;
    -fx-min-width: 100.0;
    -fx-max-height: 30.0;
    -fx-max-width: 500.0;
}

.grid-container1 .label {
    -fx-alignment: center;
    -fx-min-height: 30.0;
    -fx-min-width: 100.0;
    -fx-max-height: 30.0;
    -fx-max-width: 500.0;
    -fx-font-weight: bold;
    -fx-font-size: 15.0;
}

.grid-container1 .button1 {
-fx-min-width: 100.0;
-fx-max-width: 500.0;
}

.autorization {
    -fx-padding: 100.0;
    -fx-spasing: 30.0;
}
